<footer class="page-footer">
  <ul class="page-footer__list">
    <li class="page-footer__item">1</li>
    <li class="page-footer__item">2</li>
    <li class="page-footer__item">3</li>
  </ul>
</footer>
